footer{
  position: ablosute;
  bottom: 0;
  background-color: rgb(66, 65, 65);
  width: 100%;
  height: 40vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p{
  color: rgb(107, 108, 108);
}

.banner{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzZopwJsl_rdLyAwUult7Xilyca02zfpPb4-ZFbbsDrfxCJPlK-M87EhCVHk7Vr6iL3T4&usqp=CAU");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner h1{
  text-align: center;
}

.banner p{
  color: gray;
  text-align: center;
}

.btn-apply{
  background-color: rgb(27, 219, 100);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  width: 100px;
  border-radius: 15px;
  font-size: 1.2rem;

}

.title__align{
  text-align: center;
}

.card-box{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5vh;
}

.work {
  display: flex;
  flex-direction: column;
  width: 900px;
  margin: auto;
}

.card{
  width: 200px;
  border-radius: 3px;
  box-shadow: 0 0 5px rgb(230,230,230);
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(230,230,230);
  margin-bottom: 2vh;
}

.card img{
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
